{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "70"
        }
      }
    ],
    "@babel/react",
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
